<ion-view view-title="通讯录">
    <ion-nav-buttons side="right">
        <button class="button-clear " ng-click="">
            <i class="con ion-person-add dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-bar class="bar bar-subheader item-input-inset bar-stable ">
        <button class="button button-block button-light icon-right ion-ios-mic" ng-click="go('search')">
            <i class="icon ion-ios-search"> </i> 搜索
        </button>
    </ion-bar>
    <ion-content class=" has-header has-subheader">
        <div class="list">
            <a class="item item-icon-left ">
                <i class="icon ion-person-add positive "></i> 新朋友
            </a>
            <a class="item item-icon-left ">
                <i class="icon ion-person-stalker positive"></i> 群聊
            </a>
            <a class="item item-icon-left ">
                <i class="icon ion-android-create positive"></i> 标签
            </a>
            <a class="item item-icon-left ">
                <i class="icon ion-person positive"></i> 公众号
            </a>
            <div class="item item-divider">
                A
            </div>
            <a class="item item-icon-left ">
                <i class="icon positive">
                <img ng-src="img/max.png" class="smallImg" /></i> 啊哈哈
            </a>
            <a class="item item-icon-left ">
                <i class="icon positive">
                <img ng-src="img/mike.png" class="smallImg" /></i> 熬尼玛
            </a>
            <div class="item item-divider">
                B
            </div>
              <a class="item item-icon-left ">
                <i class="icon positive">
                <img ng-src="img/perry.png" class="smallImg" /></i> balabalabala
            </a>
            <a class="item item-icon-left ">
                <i class="icon positive">
                <img ng-src="img/ben.png" class="smallImg" /></i> BigBang
            </a>
        </div>
    </ion-content>
</ion-view>
