<ion-view view-title="我">
    <ion-content>
        <div>
            <div class="pd-t-20">
                <div class="list">
                    <a class="item item-thumbnail-left item-avatar item-icon-right">
                        <img ng-src="img/ben.png" style="border-radius:15px;">
                        <div style="margin-top: 13px">
                            <h2 style="font-size:18px">改名字很伤神</h2>
                            <p style="margin-top: 9px">微信号：balabala294815</p>
                        </div>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                </div>
            </div>
            <div class="pd-t-20">
                <div class="list">
                    <a class="item item-icon-left item-icon-right pd-11">
                        <i class="icon ion-image positive"></i> 相册
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                    <a class="item item-icon-left item-icon-right">
                        <i class="icon ion-cube positive"></i> 收藏
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                    <a class="item item-icon-left item-icon-right">
                        <i class="icon ion-card positive"></i> 钱包
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                </div>
            </div>
            <div class="pd-t-20">
                <div class="list">
                    <a class="item item-icon-left item-icon-right pd-11">
                        <i class="icon ion-happy energized"></i> 表情
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                </div> 
            </div>
            <div class="pd-t-20">
                <div class="list">
                    <a class="item item-icon-left item-icon-right pd-11">
                        <i class="icon ion-ios-gear positive"></i>
                        <div>
                            <label>设置</label>
                            <div class="badge badge-assertive" style="right:170px;
font-size: 12px;">new</div>
                            <i class="icon ion-chevron-right icon-accessory"></i>
                        </div>
                    </a>
                </div>
            </div>
    </ion-content>
</ion-view>
