<ion-view view-title="朋友圈" cache-view="false" hide-tabs>
<!-- <ion-view view-title="朋友圈" cache-view="false" > -->
    <ion-nav-buttons side="right">
        <button class="button-clear" ng-click="show()">
            <i class="icon ion-camera dark" style="font-size:23px"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-image">
                <img src="img/background.jpg" alt="">
            </div>
            <div style="margin-top:-70px">
                <div class="row" style="position:absolute;z-index:10">
                    <div class="col col-67">
                        <p class="light" style="padding-top:25px;float:right;font-size:17px;font-weight:bold;">改名字很伤神</p>
                    </div>
                    <div class="col col-20" style="margin-left:10px">
                        <img src="img/avatars.jpg" style="max-height:80px;max-width:80px;">
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
