<link href="css/myPopover.css" rel="stylesheet">
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-content>
            <div class="list">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-chatbubble "></i> 
                    发起群聊
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person-add"></i> 
                    添加朋友
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-barcode"></i> 
                    扫一扫
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-ios-box"></i> 
                    收钱

                </a>
            </div>
        </ion-content>
    </ion-popover-view>
    </ion-popover-view>
</script>
