<ion-view hide-nav-bar="true" cache-view="false">
    <ion-content>
        <div class="bar bar-header item-input-inset grey-bg">
            <label class="item-input-wrapper light-bg dark">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="搜索" focus-me="true" >
                <i class="icon icon-right ion-ios-mic highgrey"></i>
            </label>
            <a class="button button-clear " href="#" ng-click="goBack()">
                <span class="balanced">取消</span> </a>
        </div>
        <div class="content padding " style="text-align:center;padding-top:30px">
            <div class="row">
<!--                 <div class="col col-333" >
    <div class="grey-bg" style="border-radius:50%;margin:20px 10px 0 20px">
        <i class="icon ion-social-snapchat-outline" style="font-size:40px"></i>
           
    </div>
       <p class="highgrey">朋友圈</p>
</div> -->
                <div class="col col-333">
                    <i class="icon ion-social-snapchat-outline" style="font-size:40px"></i>
                    <p>朋友圈</p>
                </div>
                <div class="col col-333">
                    <i class="icon ion-social-twitter-outline" style="font-size:40px"></i>
                    <p>文章</p>
                </div>
                <div class="col col-333" ng-click="getHeight()">
                    <i class="icon ion-social-github-outline" style="font-size:40px"></i>
                    <p>公众号</p>
                </div>
   
            </div>
        </div>
    </ion-content>
</ion-view>

