/* Empty. Add your own CSS if you like */

.grey-bg {
    background-color: #efefef;
}

.highgrey {
    color: #b2b2b2;
}

.pd-t-20 {
    padding-top: 20px
}

.pd-11 {
    padding: : 11px;
}

.item-icon-left .smallImg
{
	border-radius:0;
	max-width:32px;
	max-height:32px
}
